@import "../partials/mixin.scss";
@import "../partials//variables.scss";

#menu{
    border-right: 1px solid $dark;
    ul{
        list-style: none;
        margin: 150px 0 0 0;
        padding: 0;
        box-sizing: border-box;

        li{
            a{
                text-align: center;
                display:flex;
                justify-content: center;
                text-transform: uppercase;
                padding: 10px 0;
                text-decoration: none;
                color:$dark;

                @include transition(0.25s);

                &:hover{
                    background: $light;
                }
            }

            &.header{
                font-size: 24px;
                color:$dark;
                text-align: center;
                text-transform: uppercase;
                border-bottom: 2px solid $red;
                margin: 0 25px 0;
            }
        }
    }
}