@import "../partials/font.scss";
@import "../partials/variables.scss";
@import "../partials/mixin.scss";

#canvas {
    display: grid;
    grid-template-columns: 1fr 9fr;
}

#content{
    padding: 40px;

    .content-header{
        position: relative;
        width:75%;
        display:flex;
        flex-direction: row;    
        align-items: center;

        .add-btn-container{
            position: absolute;
            right:0;
        }
    }

    #page-title{
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-family: "Montserrat";
        display: inline-block;
        border-bottom: 1px solid $dark;

        &.flex-one{
            flex: 1;
        }
    }
}

.button{
    box-sizing: border-box;
    border:1px solid $dark;
    padding:7px 15px;
    text-decoration: none;
    color: $dark;
    box-shadow: 1px 1px 5px #aeaeae;

    @include transition();

    &:hover{
        cursor: pointer;
        background:$dark;
        color: $light;
        // box-shadow: 1px 1px 5px #2a2a2a;
    }
}

.controls-container{
    display:flex;
    flex-direction: row;
    margin-top: 25px;
    
    .button{
        padding: 6px 40px;
        font-size:18px;
    }
}

.bold{
    font-weight: bold;
}


.form{
    margin: 40px 0 0 0;
    padding: 20px 0 0 0;
    width:50%;

    .input-container{
        display:flex;
        flex-direction: column;

        label, input, text-area{
            font-family: "Montserrat";
            font-size: 16px;
        }

        label{
            margin: 10px 0;
        }

        input{
            box-sizing: border-box;
            padding:7px 15px;
            border:1px solid $dark;
            box-shadow: none inset;
        }

        textarea{
            box-sizing: border-box;
            padding:7px 15px;
            box-shadow: none inset;
            height: 150px;
            resize: none;
        }
    }
    .controls-container{
        margin: 25px 0 0 0;
        justify-content: flex-end;

        .button{
            &:first-child{
                margin: 0 25px 0 0;
            }
        }
    }
}