@use 'compass';
@import "./partials/base.scss";

#employee-list-container {
    ul{
        width:75%;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        border: 1px solid $dark;

        li{
            display: grid;
            grid-template-columns: 1fr 10fr 10fr 5fr;
            border-top: 1px solid $dark;

            &:first-child{
                border:none;
            }

            &>div{
                display:flex;
                align-items: center;
                justify-content: center;
                padding: 10px 0;
                font-family: "Montserrat";
                font-size: 16px;
                box-sizing: border-box;
                border-right: 1px solid $dark;

                &:last-child{
                    border:none
                }

                .title{
                    font-weight: bold;
                    font-size:20px;
                    text-align:center;
                }

                &>a{
                    padding: 0 15px;
                    color:$dark;
                    font-size: 16px;
                    text-decoration: none;

                    @include transition(0.5s);

                    &:hover{
                        color: $black;
                        text-decoration: underline;
                    }
                }
                &>p{
                    margin: 0;
                    padding: 0 15px;
                }

                &.options{
                    display:flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    .option{
                        flex: 1;
                        display:flex;
                        justify-content: center;
                        align-items: center;

                        a{
                            &.delete{
                                &:hover{
                                    border: 1px solid $red;
                                    background:$red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
