@use 'compass';
@import "./partials/base.scss";

#login-container{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #login-form{
        border:1px solid $dark;
        border-top: 3px solid $red;
        padding: 25px 100px 100px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h5{
            font-family: "Montserrat";
            font-size: 24px;
        }
        .button{
            width:100%;
            text-align: center;
            margin: 10px;
        }
    }
}