@use 'compass';
@import "./partials/base.scss";

#review-list-container{
    ul{

        width:75%;
        list-style: none;
        border: 1px solid $dark;
        margin: 30px 0 0 0;
        padding: 0;

        li{
            display:grid;
            grid-template-columns: 1fr 6fr 3fr 3fr 3fr;
            border-top: 1px solid $dark;

            &:first-child{
                border:none;
            }

            &>div{
                border-right: 1px solid $dark;
                display:flex;
                justify-content: center;
                align-items: center;
                font-family: "Montserrat";
                font-size: 16px;
                padding: 10px 0;

                &:last-child{
                    border: none;
                }
                
                &.title{
                    font-weight: bold;
                    font-size:20px;
                    text-align:center;
                }

                &.list-container{
                    display:block;
                    padding: 10px 15px;
                }

                a{
                    color:$dark;
                    text-decoration: none;
                    font-weight: 500;

                    @include transition();

                    &:hover{
                        color: $blue;
                    }
                }
            }
        }
    }
}

#review{
    margin: 40px 0 0 0;
    border: 1px solid $dark;
    width: 50%;
    .info-section{
        display:grid;
        grid-template-columns: 2fr 8fr;
        border-bottom: 1px solid $dark;

        &:last-child{
            border: none;
        }

        label, h6, p, a {
            margin: 0;
            padding: 8px 16px;
            font-family: "Montserrat";
            font-size:16px;
            color: $dark
        }

        label{
            border-right: 2px solid $dark;
        }

        .assignee-list{
            padding: 8px 16px;
            a{
                padding: 0 5px;
                @include transition();
                &:hover{
                    color: $blue;
                }
            }
        }
    }
}

.input-container{
    .button{
        margin:10px 0;
        width:100px;
        text-align: center;
    }

    .assignee-list{
        border-bottom: 1px solid $dark;
        padding: 5px 15px;
        
        .assignee{
            display: inline-block;

            div{
                position: relative;
                display: inline-block;
                font-family: "Montserrat";
                margin: 0 3px 0 3px;
                color: $dark;
                text-decoration: none;
    
                @include transition();
    
                &:hover{
                    cursor: pointer;
                    color: $red;

                    span{
                        display: block;
                    }
                }

                
                span{
                    position: absolute;
                    display: none;
                    right: 0;
                    top: -12px;
                    color: $red;
                    text-transform: uppercase;
                    font-size: 10px;

                    @include transition();
                }
            }

        }
    }
}
